html, body, table, tr, td {
  font-family: Verdana;
  font-size: 10px;
  font-weight: none;
}
body {
  background-color: #999999;
  background-attachment: fixed;
  background-image: url(img/page_background.gif);
  background-repeat: repeat;
}
a:link, a:visited, a:active {
  color: #000000;
  text-decoration: underline;
}
a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: underline;
}
input, select {
  font-family: Verdana;
  font-size: 10px;
  font-weight: none;
}
.t1 {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}
.t2 {
  font-family: Arial;
  font-size: 10px;
}
.srow {
  background: #6F92DB;
  color: FFFFFF;
  font-family: Arial;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
.erow {
  background: #6F92DB;
  color: FFFFFF;
  font-weight: bold;
}
.drow {
  background: #B8C9ED;
  color: 000000;
  font-weight: bold;
}
.mrow {
  background: #B8C9ED;
  color: 000000;
}
.notes {
  font-style: italic;
}